<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>50_Servlets</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
    
    <!-- La etiqueta servlet le decimos a Tomcat como se va
  a llamar nuestro servlet(id de spring) y de que clase
  tiene que sacar el objeto. Con esto creamos el objeto -->
  <servlet>
    <description></description>
    <display-name>PrimerServlet</display-name>
    <servlet-name>PrimerServlet</servlet-name>
    <servlet-class>servlets.PrimerServlet</servlet-class>
  </servlet>
  
    <!-- Esta segunda etiqueta le dice a tomcat bajo que
  URL tiene que ejecutar cada servlet 
  Servlet-name le decimos el servlet que queremos usar (name o id)
  url-patter le decimos la url la cual ejecutara el servlet
  -->
  <servlet-mapping>
    <servlet-name>PrimerServlet</servlet-name>
    <url-pattern>/PrimerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SegundoServlet</display-name>
    <servlet-name>SegundoServlet</servlet-name>
    <servlet-class>servlets.SegundoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SegundoServlet</servlet-name>
    <url-pattern>/SaludoRojo</url-pattern>
  </servlet-mapping>
</web-app>